* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f8;
  color: #333;
}

/* HEADER */
header {
  background: #2c3e50;
  color: white;
  padding: 20px;
  text-align: center;
}
.header-left {
  display: flex;
  align-items: center;

}

.logo {
  width: 200px;
  height: 50px;
}
/* CONTAINER */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

/* TOPICS GRID */
.topics-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.topic-card {
  background: rgb(85, 147, 223);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: #2c3e50;
  font-weight: bold;
  border-radius: 10px;
  transition: 0.3s;
}

.topic-card:hover {
  background: #3498db;
  color: white;
}

/* QUESTIONS */
.question-card {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.question {
  font-weight: bold;
  margin-bottom: 8px;
}

.answer {
  display: none;
  margin-top: 8px;
  color: green;
}
   
/* BUTTONS */
button {
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  background: #3498db;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #2980b9;
}

/* BACK BUTTON */
.back-btn {
  display: block;
  text-align: center;
  margin: 20px;
  text-decoration: none;
  color: #3498db;
  font-weight: bold;
}

/* ===== FIXED FOOTER MENU ===== */
.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #1f2937;
  border-top: 1px solid #374151;
  z-index: 1000;
}

.footer-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

.footer-menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
}

.footer-menu a:hover {
  color: #60a5fa;
}

/* ===== SPACE FOR FIXED FOOTER ===== */
.topic-content {
  padding-bottom: 100px; /* IMPORTANT */
}

/* MOBILE OPTIMIZATION */
@media (max-width: 600px) {
  .logo{
    width: 340px;
    height: 100px;
  }
  .topic-card {
    padding: 15px;
  }
  .logo1{
    width: 340px;
    height: 100px;
    margin-left: 20px;
  }
}
@media (max-width: 600px) {
  .footer-menu a {
    font-size: 13px;
  }
}
