* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f8;
  color: #333;
}

/* HEADER */
header {
  background: #2c3e50;
  color: white;
  padding: 20px;
  text-align: center;
}
.header-left {
  display: flex;
  align-items: center;

}

.logo {
  width: 200px;
  height: 50px;
}
/* CONTAINER */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

/* TOPICS GRID */
.topics-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
}

.topic-card {
  background: rgb(85, 147, 223);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: #2c3e50;
  font-weight: bold;
  border-radius: 10px;
  transition: 0.3s;
}

.topic-card:hover {
  background: #3498db;
  color: white;
}

/* QUESTIONS */
.question-card {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.question {
  font-weight: bold;
  margin-bottom: 8px;
}

.answer {
  display: none;
  margin-top: 8px;
  color: green;
}
   
/* BUTTONS */
button {
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  background: #3498db;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #2980b9;
}

/* BACK BUTTON */
.back-btn {
  display: block;
  text-align: center;
  margin: 20px;
  text-decoration: none;
  color: #3498db;
  font-weight: bold;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 15px;
  background: #ddd;
  margin-top: 30px;
}

/* MOBILE OPTIMIZATION */
@media (max-width: 600px) {
  header h1 {
    font-size: 19px;
    margin-left: 150px;
  }
  .logo{
    width: 140px;
  }
  header p{
    margin-left: 150px;
  }
  .topic-card {
    padding: 15px;
  }
  .logo1{
    width: 140px;
  }
}